.AdminPanel {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn--add-product {
    padding: 1rem 3rem;
    width: 800px;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block: 2rem;
    background-color: black;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
  }

  .product-view,
  .product-form {
    width: 800px;
    max-width: 90vw;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    .actions > * {
      cursor: pointer;
    }
  }

  .product-form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    label#upload-label {
      margin-top: 1rem;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      .upload-icon {
        width: 2rem;
        height: 2rem;
      }
    }

    input {
      font-size: 1rem;
      width: 100%;
      padding: 1rem;
      border-radius: 0.4rem;
      border: 1px solid gray;
      outline: none;
      &#image-upload {
        display: none;
      }
    }
    select {
      font-size: 1rem;
      width: max-content;
      padding-block: 0.5rem;
      border: none;
      outline: none;
    }
    button {
      all: unset;
      margin-top: 1rem;
      padding: 1rem 2rem;
      background-color: black;
      border-radius: 3rem;
      color: white;
      &:first-of-type {
        margin-right: 0.5rem;
      }
      &:last-of-type {
        background-color: white;
        color: unset;
        outline: 1px solid #757575;
      }
    }
  }

  .view-image {
    img {
      height: 200px !important;
      width: 200px !important;
    }
  }
}
